.box{
   
    border: 1px solid whitesmoke;
    border-radius: 8px;
    width: 600px;
    background: #b248ca ;
    color: whitesmoke;
    padding: 20px;
    
    
}
.box:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
